<nav class="navbar bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" >
      Iniciar Ordem de Serviço para: <strong><%= @work_order.delivery_code %></strong>
    </a>
  </div>
</nav>


<% if  @modality_group.empty? %>
<div class="alertField">
    <div class = "alert alert-primary">Nenhuma modalidade pode atender a essa solicitação</div>
</div>


<% else %>      
<div class="table-container-prices">
  <table class="table table-hover table-bordered" >
  <thead>
    <tr class="table-title-bg">          
    </tr>
  </thead>
  <% @rows_val.each_with_index do |row, index| %>
  <tbody>
    <tr>
    <td> <%= @name_column[index] %> </td>
    <% row.each do |value| %>
    <td><%= value %></td>
    <% end %>     
      </tr>
  </tbody>
  <% end %>
</div>

  <br>
<p>Selecione a Moldalidade desejada de acordo com os preços da tabela e clique em 'Gravar'</p>
<%= form_with(model: [@work_order, @open_work_order]) do |f| %>
  <div class="container-form-modality">
  <div class="form-group col-md-6">
    <%= f.label :modality_id, 'Modalidade' %>
    <%= f.collection_select :modality_id, @modality_group, :id, :name %>
  </div>
  <div class="btn-form-modality">        
        <%= f.submit 'Gravar', class: "btn btn-primary" %>
  </div>
  </div>
<% end %> 
<br>
<% end %> 