<nav class="navbar bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" >
      Tabela de configuração de prazos por distância
    </a>
  </div>
</nav>


<% if @deadlines.empty? %>

<div class="btnAdd">
  <a class="btn btn-outline-danger" href="<%= modalities_path %>" role="button">Voltar</a>
</div>
<br>

  <div class="alertField">
    <div class="alert alert-warning" role="alert">
      Não existe dados para a tabela
    </div>
  </div>
<% else %>

<div class="btnAdd">
  <a class="btn btn-outline-danger" href="<%= modality_path(@deadline) %>" role="button">Voltar</a>
</div>
<br>

<div class="table-container">
<table class="table table-hover table-bordered">
<thead>
  <tr class="table-title-bg">
    <th colspan="2" class="col-2">Distância (Km)</th>
    <th class="col-1">Prazo (dias)</th>    
  </tr>
</thead>
<tbody>
   <% @deadlines.each do |d| %>
    <tr>
      <td><%= d.initial_interval %></td>
      <td><%= d.final_interval %></td>
      <td><%= d.duration.days.from_now.strftime("%d/%m/%Y") %></td>
     
    </tr>
 <% end %>
</tbody>
</div>
<%end%>