<nav class="navbar bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" >
      Modalidades de Transporte
    </a>
  </div>
</nav>

<% if @modalities.empty? %>
  <div class="alertEmpty">
  <div class="alert alert-warning" role="alert">
  Não existe modalidades de transporte cadastradas
  </div>
  </div>
<% elsif %>
<div class = container-card>  
  <% @modalities.each do |m| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><%= m.name %></h5>
          <% if m.modality_status == "activated" %>
            <span class="badge badge-success"><%= Modality.human_attribute_name(:activated) %></span>
          <% else %>  
            <span class="badge badge-danger"><%= Modality.human_attribute_name(:disabled)%></span>
          <% end %>
          <br>
        <strong><%= Modality.human_attribute_name(:minimum_distance)%>:</strong>
        <p class="card-text"><%= m.minimum_distance %>km</p>
        <strong><%= Modality.human_attribute_name(:maximum_distance)%>:</strong>
        <p class="card-text"><%= m.maximum_distance %>km</p>
        <strong><%= Modality.human_attribute_name(:minimum_weight)%>:</strong>
        <p class="card-text"><%= m.minimum_weight %>kg</p>
        <strong><%= Modality.human_attribute_name(:maximum_weight)%>:</strong>
        <p class="card-text"><%= m.maximum_weight %>kg</p>
        <strong><%= Modality.human_attribute_name(:flat_rate)%>:</strong>
        <p class="card-text">R$<%= m.flat_rate %></p>
                    
        <a href="#" class="btn btn-primary">Mais</a>
    </div>
  </div>
<% end %>
</div>
</div>  
<% end %>

