
<%= form_with(model: @modality) do |f| %>

   <div class="container-form-modality">
        <div class="form-group col-md-6">
        <%= f.label :name %>
        <%= f.text_field :name, { class: "form-control", placeholder: "Nome" } %>
        </div>        
        <div class="form-group col-md-6">
        <%= f.label :flat_rate %> (R$)
        <%= f.number_field :flat_rate, { class: "form-control", placeholder: "Taxa fixa" } %>
        </div>    
        <div class="form-group col-md-6">
        <%= f.label :minimum_distance %> (Km)
        <%= f.number_field :minimum_distance, { class: "form-control", placeholder: "Distância mínima" } %>
        </div>
        <div class="form-group col-md-6">
        <%= f.label :maximum_distance %> (Km)
        <%= f.number_field :maximum_distance, { class: "form-control", placeholder: "Distância máxima" } %>
        </div>      
        <div class="form-group col-md-6">
        <%= f.label :minimum_weight %> (Kg)
        <%= f.number_field :minimum_weight, { class: "form-control", placeholder: "Peso mínimo" } %>
        </div>
        <div class="form-group col-md-6">
        <%= f.label :maximum_weight %> (Kg)
        <%= f.number_field :maximum_weight, { class: "form-control", placeholder: "Peso máximo" } %>
        </div>
        <div class="form-group col-md-2">
        <%= f.label :modality_status %> <br>
        <%= f.select :modality_status, Modality.modality_statuses.keys.map { |s| [s.humanize, s]}, {class: "form-control"}   %> 
    
        </div>       
        <div class="btn-form-modality">        
        <%= f.submit 'Enviar', class: "btn btn-primary" %>
        </div>
    </div>

<% end %>



