<div class = container-card-order>  
  <div class="card" style="width: 40rem;">
    <div class="card-body">
        <h4 class="card-title">Código da Entrega: <%= @work_order.delivery_code %></h4>
            <% if @work_order.work_order_status == "pending" %>
        <span class="badge badge-secondary"><%= WorkOrder.human_attribute_name(:pending) %></span>
      <% elsif  @work_order.work_order_status == "progress"%>        
        <span class="badge badge-primary"><%= WorkOrder.human_attribute_name(:progress) %></span>        
      <% elsif  @work_order.work_order_status == "closed_in"%>        
        <span class="badge badge-info"><%= WorkOrder.human_attribute_name(:closed_in) %></span>
      <% elsif  @work_order.work_order_status == "closed_out"%>        
        <span class="badge badge-warning"><%= WorkOrder.human_attribute_name(:closed_out) %></span>
        
      <% end %>
        <br>
        <br>  
 

<% unless @work_order.work_order_status == "pending" %>
  <% if ((@work_order.work_order_status == "progress") || (@work_order.work_order_status == "closed_in") || (@work_order.work_order_status == "closed_out")) %>
        <h5 class="card-title" style="color: #1C2EDB">Detalhes da abertura do serviço: </h5>
          <strong><%= Modality.human_attribute_name(:name)%>:</strong>
            <p class="card-text"><%= @modality.name %></p>    
          <strong><%= OpenWorkOrder.human_attribute_name(:total_price)%> (R$):</strong>
            <p class="card-text" ><%= @open_work_order.total_price %></p> 
          <strong><%= OpenWorkOrder.human_attribute_name(:deadline_date)%>:</strong>
            <p class="card-text"><%= @open_work_order.deadline_date.strftime("%d/%m/%Y") %></p>   
  <% end %>

  <% if ((@work_order.work_order_status == "closed_in") || (@work_order.work_order_status == "closed_out")) %>
        <h5 class="card-title" style="color: #1C2EDB">Detalhes do Encerramento do serviço: </h5>
           <strong><%= CloseWorkOrder.human_attribute_name(:delivery_date)%>:</strong>
            <p class="card-text"><%= @close_work_order.delivery_date.strftime("%d/%m/%Y") %></p>    
           <strong><%= CloseWorkOrder.human_attribute_name(:description)%>:</strong>
            <p class="card-text"><%= @close_work_order.description %></p>   
  <% end %> 
<% end %>
    
          <h5 style="color: #1C2EDB;">Informações do produto:</h5>
          <strong><%= WorkOrder.human_attribute_name(:product_code)%>:</strong>
            <p class="card-text"><%= @work_order.product_code %></p>          
          <strong><%= WorkOrder.human_attribute_name(:height)%> (cm):</strong>
            <p class="card-text"><%= @work_order.height %></p> 
          <strong><%= WorkOrder.human_attribute_name(:width)%> (cm):</strong>
            <p class="card-text"><%= @work_order.width %></p> 
          <strong><%= WorkOrder.human_attribute_name(:depth)%> (cm):</strong>
            <p class="card-text"><%= @work_order.depth %></p> 
          <strong><%= WorkOrder.human_attribute_name(:weight)%> (kg):</strong>
            <p class="card-text"><%= @work_order.weight %></p> 

          <h5 style="color: #1C2EDB;">Dados para Retirada:</h5>          
          <strong><%= WorkOrder.human_attribute_name(:pickup_address)%>:</strong>
            <p class="card-text"><%= @work_order.pickup_address %></p>
          <strong><%= WorkOrder.human_attribute_name(:pickup_city)%>:</strong>
            <p class="card-text"><%= @work_order.pickup_city %></p>
          <strong><%= WorkOrder.human_attribute_name(:pickup_state)%>:</strong>
            <p class="card-text"><%= @work_order.pickup_state %></p>          
                    
          <h5 style="color: #1C2EDB;">Dados para Entrega:</h5>          
          <strong><%= WorkOrder.human_attribute_name(:customer_name)%>:</strong>
            <p class="card-text"><%= @work_order.customer_name %></p>
          <strong><%= WorkOrder.human_attribute_name(:delivery_address)%>:</strong>
            <p class="card-text"><%= @work_order.delivery_address %></p>
          <strong><%= WorkOrder.human_attribute_name(:delivery_city)%>:</strong>
            <p class="card-text"><%= @work_order.delivery_city %></p>
          <strong><%= WorkOrder.human_attribute_name(:delivery_state)%>:</strong>
            <p class="card-text"><%= @work_order.delivery_state %></p>
          <strong><%= WorkOrder.human_attribute_name(:distance)%> (km):</strong>
            <p class="card-text"><%= @work_order.distance %></p>        
    </div>
  </div>
</div>
