<nav class="navbar bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" >
      Ordem de Serviço
    </a>
  </div>
</nav>


<div class="btnAdd-work-order">
  <a class="btn btn-secondary" href="<%= search_field_work_orders_path %>" role="button">Buscar Ordem de Serviço</a>
</div>
<br>


<% if user_adm_signed_in? %>
<div class="btnAdd-work-order">
  <a class="btn btn-primary" href="<%= new_work_order_path %>" role="button">Criar Ordem de Serviço</a>
</div>
<% end %>

<% if @work_orders.empty? %>
  <div class="alertField">
    <div class="alert alert-warning" role="alert">
      Não existe ordem de serviço cadastrada
    </div>
  </div>
<% else %>
<div class="table-container-order">
<table class="table table-hover table-bordered" >
<thead>
  <tr class="table-title-bg">
    <th class="col-1">Código</th>
    <th class="col-1">Status</th>    
    <th class="col-1">Iniciar ordem e ver detalhes do pedido</th>            
  </tr>
</thead>
<tbody>
   <% @work_orders.each do |w| %>
    <tr>
      <td><%= w.delivery_code %></td>
      <td>
      <% if w.work_order_status == "pending" %>
        <span class="badge badge-secondary"><%= WorkOrder.human_attribute_name(:pending) %></span>
      <% elsif w.work_order_status == "progress"%>        
        <span class="badge badge-primary"><%= WorkOrder.human_attribute_name(:progress) %></span>        
      <% elsif w.work_order_status == "closed_in"%>        
        <span class="badge badge-info"><%= WorkOrder.human_attribute_name(:closed_in) %></span>
      <% elsif w.work_order_status == "closed_out"%>        
        <span class="badge badge-warning"><%= WorkOrder.human_attribute_name(:closed_out) %></span>
        
      <% end %>
      </td>
      <td><a class="btn btn-primary" href="<%=  work_order_path(w.id) %>" role="button">Mais detalhes...</a></td>
     
    </tr>
 <% end %>
</tbody>
</div>
<%end%>