<nav class="navbar bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" >
      Consultar informações da entrega
    </a>
  </div>
</nav>

<div class="btnAdd">
<% if user_adm_signed_in? || user_regular_signed_in? %> 
  <a class="btn btn-outline-danger" href="<%= work_orders_path %>" role="button">Voltar</a>
<% else %>
 <a class="btn btn-outline-danger" href="<%= root_path %>" role="button">Voltar</a>

<% end %>
</div>
<br>

<div class="form-group">
<%= form_with(url: search_work_orders_path, method: :get) do |f| %>
        <div class="container-search">
          <div class="search-title">
          <%= f.label :query, 'Buscar ordem de serviço:',  {class:"form-label"}%>
          </div>

          <div class="search-field">
          <%= f.text_field :query, class:"form-control", placeholder: "Digite o código da ordem se serviço..." %>
          </div> 
          <div>         
          <%= f.submit 'Buscar', {class:"btn btn-outline-dark" }%>
        </div>
        </div>
<% end %> 
</div>