<nav class="navbar bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" >
      Ordem de Serviço
    </a>
  </div>
</nav>

<div class="btnAdd">
  <a class="btn btn-primary" href="<%= new_work_order_open_work_order_path(work_order_id: @work_order.id) %>" role="button">Iniciar Ordem de Serviço</a>
</div>

<div class = container-card>  
  
  <div class="card" style="width: 40rem;">
    <div class="card-body">
        <h4 class="card-title">Código da Entrega: <%= @work_order.delivery_code %></h4>
          <% if @work_order.work_order_status == "pending" %>
            <span class="badge badge-secondary"><%= WorkOrder.human_attribute_name(:pending) %></span>
          <% else %>        
            <span class="badge badge-primary"><%= WorkOrder.human_attribute_name(:progress) %></span>
          <% end %>
          <br><br>


          <h5 style="color: #697486;">Informações do produto:</h5>
          <strong><%= WorkOrder.human_attribute_name(:product_code)%>:</strong>
            <p class="card-text"><%= @work_order.product_code %></p>          
          <strong><%= WorkOrder.human_attribute_name(:height)%> (cm):</strong>
            <p class="card-text"><%= @work_order.height %></p> 
          <strong><%= WorkOrder.human_attribute_name(:width)%> (cm):</strong>
            <p class="card-text"><%= @work_order.width %></p> 
          <strong><%= WorkOrder.human_attribute_name(:depth)%> (cm):</strong>
            <p class="card-text"><%= @work_order.depth %></p> 
          <strong><%= WorkOrder.human_attribute_name(:weight)%> (kg):</strong>
            <p class="card-text"><%= @work_order.weight %></p> 

          <h5 style="color: #697486;">Dados para Retirada:</h5>          
          <strong><%= WorkOrder.human_attribute_name(:pickup_address)%>:</strong>
            <p class="card-text"><%= @work_order.pickup_address %></p>
          <strong><%= WorkOrder.human_attribute_name(:pickup_city)%>:</strong>
            <p class="card-text"><%= @work_order.pickup_city %></p>
          <strong><%= WorkOrder.human_attribute_name(:pickup_state)%>:</strong>
            <p class="card-text"><%= @work_order.pickup_state %></p>          
                    
          <h5 style="color: #697486;">Dados para Entrega:</h5>          
          <strong><%= WorkOrder.human_attribute_name(:customer_name)%>:</strong>
            <p class="card-text"><%= @work_order.customer_name %></p>
          <strong><%= WorkOrder.human_attribute_name(:delivery_address)%>:</strong>
            <p class="card-text"><%= @work_order.delivery_address %></p>
          <strong><%= WorkOrder.human_attribute_name(:delivery_city)%>:</strong>
            <p class="card-text"><%= @work_order.delivery_city %></p>
          <strong><%= WorkOrder.human_attribute_name(:delivery_state)%>:</strong>
            <p class="card-text"><%= @work_order.delivery_state %></p>
          <strong><%= WorkOrder.human_attribute_name(:distance)%> (km):</strong>
            <p class="card-text"><%= @work_order.distance %></p>

         
    </div>
  </div>


