<nav class="navbar bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" >
      Editar Veículo
    </a>
  </div>
</nav>

<% if(@vehicle.errors.any?) %>
  <div class="alertField">
    <div class = "alert alert-warning">
    <p>Verifique os erros abaixo:</p>    
    <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>  
    <% end %>    
    </div>
  </div>
<% end %>

<%= form_with(model: @vehicle) do |f| %>

   <div class="container-form-modality">
        <div class="form-group col-md-6">
        <%= f.label :car_model %>
        <%= f.text_field :car_model, { class: "form-control", placeholder: "Modelo" } %>
        </div>        
        <div class="form-group col-md-6">
        <%= f.label :brand %> 
        <%= f.text_field :brand, { class: "form-control", placeholder: "Marca" } %>
        </div>    
        <div class="form-group col-md-6">
        <%= f.label :model_year %> 
        <%= f.number_field :model_year, { class: "form-control", placeholder: "Ano" } %>
        </div>
        <div class="form-group col-md-6">
        <%= f.label :registration_plate %> 
        <%= f.number_field :registration_plate, { class: "form-control", placeholder: "Número de registro" } %>
        </div>
        <div class="form-group col-md-6">
        <%= f.label :weight_capacity %> (kg)
        <%= f.number_field :weight_capacity, { class: "form-control", placeholder: "Capacidade de peso máxima" } %>
        </div>   
        
        <div class="form-group col-md-3">
            <%= f.label :modality_id %>:
            <%= f.collection_select :modality_id, Modality.all, :id, :name,  {class: "form-control"} %>
        </div>   
                
        <div class="form-check">
        <p class="text-status">Status:</p>
          <% Vehicle.car_statuses.keys.each do |status| %>
          <%= f.radio_button :car_status, status %>
          <%= f.label status.to_sym  %>
        <% end %>
      </div>

        <br>
        <div class="btn-form-modality">        
        <%= f.submit 'Enviar', class: "btn btn-primary" %>
        </div>
    </div>

<% end %>



