<% if(@distance_price_id.errors.any?) %>
  <div class="alertField">
    <div class = "alert alert-warning">
    <p>Verifique os erros abaixo:</p>
    <% @distance_price_id.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </div>
  </div>
<% end %>

<%= form_for [@modality, @distance_price_id ] do |f| %>

   <div class="container-form-modality">
        <div class="form-group col-md-6">
        <%= f.label :initial_distance %>
        <%= f.text_field :initial_distance, { class: "form-control", placeholder: "Distância inicial" } %>
        </div>
        <div class="form-group col-md-6">
        <%= f.label :final_distance %>
        <%= f.number_field :final_distance, { class: "form-control", placeholder: "Distância final" } %>
        </div>
        <div class="form-group col-md-6">
        <%= f.label :distance_rate %>
        <%= f.number_field :distance_rate, { class: "form-control", placeholder: "Taxa (R$)" } %>
        </div>
        
        <div class="btn-form-modality">
        <%= f.submit 'Gravar', class: "btn btn-primary" %>
        </div>
    </div>

<% end %>



