<nav class="navbar bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" >
      Tabela de configuração de preço por distância
    </a>
  </div>
</nav>


<% if @distance_prices.empty? %>
<div class="btnAdd">
  <a class="btn btn-outline-danger" href="<%= modalities_path %>" role="button">Voltar</a>
</div>
<br>

  <div class="alertField">
    <div class="alert alert-warning" role="alert">
      Não existe dados para a tabela
    </div>
  </div>
<% else %>

<div class="btnAdd">
  <a class="btn btn-outline-danger" href="<%= modality_path(@distance_price) %>" role="button">Voltar</a>
</div>
<br>

<div class="table-container">
<table class="table table-hover table-bordered">
<thead>
  <tr class="table-title-bg">
    <th colspan="2" class="col-2">Intervalo (km)</th>
    <th class="col-1">Taxa (R$)</th>    
  </tr>
</thead>
<tbody>
   <% @distance_prices.each do |d| %>
    <tr>
      <td><%= d.initial_distance %></td>
      <td><%= d.final_distance %></td>
      <td><%= d.distance_rate %></td>
     
    </tr>
 <% end %>
</tbody>
</div>
<%end%>