<!DOCTYPE html>
<html>
  <head>
    <title>DeliveryServiceForEcommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>


  <body>
    <header>        
      <nav class="navbar navbar-light bg-white">        
        <ul class="nav">
          <li>
          <a class="navbar-brand" href="<%= root_path %>">
          <img src="/assets/local_shipping.svg" width="30" height="30" class="d-inline-block align-top" alt="">          
          Sistema de Frete        
          </a>
      <% if user_adm_signed_in? || user_regular_signed_in? %> 
        </ul>
        <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="<%=  modalities_path %>">Modalidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= vehicles_path %>">Veículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Desativado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">mais</a>
        </li>
      </ul>
      <% end %>
    

      </nav>
    </header>
    <main>    
    
    <% if user_adm_signed_in? %> 
      <div>
        <div class="btn-sair">
          <div class="txt-email"><%= current_user_adm.email %> </div>  
            <%= button_to 'Sair', destroy_user_adm_session_path, method: :delete, class: 'btn btn-dark btn-xs' %>
          </div>
      </div>   
    <% end %>

    <% if user_regular_signed_in? %> 
      <div>
        <div class="btn-sair">
          <div class="txt-email"><%= current_user_regular.email %> </div>  
            <%= button_to 'Sair', destroy_user_regular_session_path, method: :delete, class: 'btn btn-dark btn-xs' %>
          </div>
      </div>   
    <% end %>






      <% if flash[:notice] -%>
        <div class="alertField">
        <div class = "alert alert-primary"><%= flash[:notice] %></div>
        </div>
      <% elsif flash[:alert] -%> 
        <div class="alertField">
        <div class = "alert alert-info"><%= flash[:alert] %></div>
        </div>
      <% end %>       
         
      <%= yield %>

    </main>
</body>

</html>
